<h1>About us
</h1>

<h2>About the Developer</h2>
<p>
    Hello! My name is Kevin Cheung, the developer of this website. I live in Dallas, Texas. I am currently a part-time
    student of the postbaccalaureate computer science online program at Oregon State University. I also work as an
    full-time actuarial analyst in an insurance company.

</p>

<p>
    In my free time, I enjoy cycling, watching TV shows, and spending time with my dog, Petey.
</p>

<h2>About the website</h2>


<p>This website is designed to help uesrs to keep track of their cryptocurrency portfolio from different exchanges.
    Users need to provide their transaction history to the server and the server will returns the portfolio's current
    performance.
</p>


<p>The current features:
<ul>
    <li>Extract the cryptocurrency price</li>
    <li>Caluclate the portfolio profit</li>
    <li>Enter the transaction history</li>
</ul>
</p>


<p>The future features:
<ul>
    <li>Auto-refresh for the crypto price</li>
    <li>Keep track of the portfolio's historical movement</li>
    <li>Create API to make crypto order in this website</li>
</ul>
</p>


<a href="/home">Click here to home</a>