<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoTracker - About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">

</head>

<body>


    <div class="header">
        <div><a href="/homepage">Homepage</a></div>
        <div><a href="/buy-sell">Buy/Sell Order</a></div>
        <div><a href="/transaction-history">Transaction History</a></div>
        <div><a href="/about-us">About Us</a></div>
        <div><a href="/">Logout</a></div>
    </div>

    <div class="content">
        <h2 class="content-title">About Developer</h2>
        <hr>
        <p>
            Hello! My name is Kevin Cheung, the developer of this website. I live in Dallas, Texas. I am currently a
            part-time
            student of the postbaccalaureate computer science online program at Oregon State University. My goal is to
            earn an graduate degree after the program.I also work as an full-time actuarial analyst in an insurance
            company.In my free time, I enjoy cycling, watching TV shows, and
            spending time with my dog, Petey.

        </p>

        <div class="slide-main">

            <div class="slide-button-left">
                <button class="btn" onclick="plusDivs(-1)">&#10094;</button>
            </div>

            <div class="slideshow">

                <img class="PeteySlides" src="/photo/petey_1.jpg">
                <img class="PeteySlides" src="/photo/petey_2.jpg">
                <img class="PeteySlides" src="/photo/petey_3.jpg">
                <img class="PeteySlides" src="/photo/petey_4.jpg">
                <img class="PeteySlides" src="/photo/petey_5.jpg">
                <img class="PeteySlides" src="/photo/petey_6.jpg">
                <img class="PeteySlides" src="/photo/petey_7.jpg">
                <img class="PeteySlides" src="/photo/petey_8.jpg">

            </div>

            <div class="slide-button-right">
                <button class="btn" onclick="plusDivs(1)">&#10095;</button>
            </div>

        </div>

    </div>



    <div class="content">
        <h2 class="content-title">About the website</h2>
        <hr>
        <p>This website is designed to help uesrs to keep track of their cryptocurrency portfolio from different
            exchanges.
            Users need to provide their transaction history to the server and the server will returns the
            portfolio's
            current
            performance.
        </p>


        <p>The current features:</p>
        <ul>
            <li>Extract the cryptocurrency price</li>
            <li>Caluclate the portfolio profit</li>
            <li>Enter the transaction history</li>
        </ul>



        <p>The future features:</p>
        <ul>
            <li>Auto-refresh for the crypto price</li>
            <li>Keep track of the portfolio's historical movement</li>
            <li>Create API to make crypto order in this website</li>
        </ul>



    </div>



    <div class="footer-main">
        <p class="footer-p"> If you want to purchase cryptocurrency, you may visit:</p>

        <a href="https://www.binance.com/en">
            <img src="/photo/binance.svg" height="70px" width="140px">
        </a>

        <a href="https://www.bitfinex.com/">
            <img src="/photo/bitfinex.svg" height="70px" width="140px">
        </a>

        <a href="https://www.coinbase.com/">
            <img src="/photo/Coinbase.svg" height="65px" width="140px">
        </a>


    </div>










    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        var refresh = window.setInterval(function () {
            plusDivs(1)
        }, 5000);


        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("PeteySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
    </script>



</body>

</html>