<!DOCTYPE html>
<html>
<style>
    .purchase-form {
        border: 5px outset #2a6592;
    }

    .sell-form {
        border: 5px outset #2a6592;
    }
</style>

<body>



    <h2>Purchase Form</h1>
        <div class="purchase-form">

            <form action="purchase-order" method="POST">
                <legend>Cryptocurrency:</legend>
                <input list="crypto_name" name="crypto_name">
                <datalist id="crypto_name">
                    <option value="BTC">
                    <option value="ETH">
                    <option value="BNB">
                    <option value="VET">
                    <option value="LINK">
                    <option value="ADA">
                    <option value="XLM">
                </datalist>
                </input>
                <legend>Amount:</legend>
                <input type="number" id="amount" name="amount">
                <legend>Unit Cost:</legend>
                <input type="number" id="cost" name="cost">
                <br>
                <input type="submit">
            </form>
        </div>

        {{{status_msg_purchase}}}


</body>

</html>