<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoTracker - Homepage</title>
    <link rel="stylesheet" href="transaction-history.css">
</head>

<body>

    <div class="header">
        <div><a href="/homepage">Homepage</a></div>
        <div><a href="/buy-sell">Buy/Sell Order</a></div>
        <div><a href="/transaction-history">Transaction History</a></div>
        <div><a href="/about-us">About Us</a></div>
        <div><a href="/">Logout</a></div>
    </div>

    <div class="content">

        <h2 class="content-title">Transaction History</h2>
        <hr>

        <div class="scroller">
            <table>
                <thead>
                    <tr>
                        <th class="tbl-header">Transaction Date</th>
                        <th class="tbl-header">Order Type</th>
                        <th class="tbl-header">Crypto Name</th>
                        <th class="tbl-header">Amount</th>
                        <th class="tbl-header">Price</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>


                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>



                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>

                    <tr>
                        <td class="tbl-content">1/1/2020</td>
                        <td class="tbl-content">Buy</td>
                        <td class="tbl-content">ETH</td>
                        <td class="tbl-content">5000</td>
                        <td class="tbl-content">1432.50</td>
                    </tr>



                </tbody>

            </table>
        </div>

        <button class="csv-btn" onclick="download_csv()">Download CSV</button>


    </div>


</body>

</html>






<script>


    function download_csv() {


        var csv = '';
        var tr_set = document.getElementsByTagName("tr");
        for (var i = 0; i < tr_set.length; i++) {
            var records = tr_set[i]
            console.log(records)
            for (var j = 0; j < records.children.length; j++) {
                console.log(records.children[j].textContent)
                csv += records.children[j].textContent + ','
            }
            csv = csv.slice(0, -1)
            csv += "\n";
        }

        console.log(csv)



        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
        hiddenElement.target = '_blank';
        hiddenElement.download = 'transaction-history.csv';
        hiddenElement.click();

    }
</script>