<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoTracker - Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="login-box">
        <br>
        <div class="login-title">
            CryptoTracker Login
        </div>

        <div class="login-form">
            <form action="auth" method="POST">

                <label class="form-label">USERNAME</label><br>
                <input type="text" name="username" required value="admin"><br>
                <label class="form-label">PASSWORD</label><br>
                <input type="password" name="password" required value="123456"><br>
                <button type="submit" class="btn">LOGIN</button>
                <button type="button" onClick="location.href='register'" class="btn">REGISTER</button>
                <div class="loginmsg">
                    {{{status_msg}}}
                </div>
                <div>
                    <p>For Grading TAs, you may use the admin account for grading purpose. username: "admin"; user
                        password: "123456"</p>
                    <p>You can also create your own account and try out the functions. Please feel free to contact me if
                        you have any difficulty to login.</p>

                </div>
            </form>

        </div>



    </div>


    <div class="footer-main">
        <p class="footer-p"> If you want to purchase cryptocurrency, you may visit:</p>


        <a href="https://www.binance.com/en">
            <img src="/photo/binance.svg" height="60px" width="140px">
        </a>

        <a href="https://www.bitfinex.com/">
            <img src="/photo/bitfinex.svg" height="60px" width="140px">
        </a>

        <a href="https://www.coinbase.com/">
            <img src="/photo/Coinbase.svg" height="55px" width="140px">
        </a>

    </div>


</body>

</html>