<!DOCTYPE html>
<html>

<body>




    <div class="purchase-form">
        <h1>Purchase Form</h1>
        <form action="/purhcase" method="POST">
            <legend>Cryptocurrency:</legend>
            <input list="crypto_name" name="crypto_name">
            <datalist id="crypto_name">
                <option value="BTC">
                <option value="ETH">
                <option value="BNB">
                <option value="VET">
                <option value="LINK">
                <option value="ADA">
                <option value="XLM">
            </datalist>
            </input>
            <legend>Amount:</legend>
            <input type="number" id="amount" name="amount">
            <legend>Unit Cost:</legend>
            <input type="number" id="cost" name="cost">
            <input type="submit">
        </form>
    </div>



</body>

</html>