<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CrpytoTracker - Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="login-box">
        <br>
        <div class="login-title">
            Register
        </div>

        <div class="login-form">
            <form action="create_account" method="POST">

                <label class="form-label">USERNAME</label><br>
                <input type="text" name="username" required><br>
                <label class="form-label">PASSWORD</label><br>
                <input type="password" name="password" required><br>
                <label class="form-label">ENTER PASSWORD AGAIN</label><br>
                <input type="password" name="password2" required><br>
                <button type="submit" class="btn">REGISTER</button>
                <button type="button" onClick="location.href='/'" class="btn">BACK</button>
            </form>

            <div class="loginmsg">
                {{{status_msg}}}
            </div>

        </div>


    </div>

    <div class="footer-main">
        <p class="footer-p"> If you want to purchase cryptocurrency, you may visit:</p>

        <a href="https://www.binance.com/en">
            <img src="/photo/binance.svg" height="60px" width="140px">
        </a>

        <a href="https://www.bitfinex.com/">
            <img src="/photo/bitfinex.svg" height="60px" width="140px">
        </a>

        <a href="https://www.coinbase.com/">
            <img src="/photo/Coinbase.svg" height="55px" width="140px">
        </a>
    </div>


    <div class="sources-main">
        Photo Sources:
        <br>
        https://seeklogo.com/vector-logo/323353/binance-exchange
        <br>
        https://seeklogo.com/vector-logo/323387/bitfinex
        <br>
        https://seeklogo.com/vector-logo/402702/coinbase-new-2021
        <br>
    </div>

</body>



</html>